
.baba{
	width: 800px;
	height: 3100px;
    position: absolute;
    left: 260px;
    height: 260px;
  
}
/*第一块布局 首页大背景*/
.div1{
	width: 800px;
	height: 500px;
	background: url(../img/背景.PNG);
	background-size: 110%;
	padding-top: 110px;
	text-align: center;
}
h1{
	color: #ffffff;
	font-family: "Segoe Condensed";
	font-size: 60px;
}
p{
	color: #dddddd;
	font-size: 16px;
	font-family: @幼圆;
}
.kuang{
	margin: 50px 150px;
	width: 500px;
	height: 120px;
	border: 0.5px #BBBBBB solid;
}
h3{
	color: #FFFFFF;
	font-family: "copperplate gothic light";
	font-size: 16px;
	letter-spacing: 3px;
}
.kuang p{
	color: #FFFFFF;
	font-family: "copperplate gothic light";
	font-size: 12px;
	letter-spacing: 2px;
}
input{
	appearance: none;
	height: 20px;
	font-size: 12px;
	border: 0.5px #BBBBBB solid;
	background: transparent;
}
input[type="submit"]{
	width: 72px;
	height: 24px;
	background: #FFFFFF;
	border: none;	
}
input:-ms-input-placeholder{	
	color: #FFFFFF;
}



/*第二块布局目录样式*/
.div2{
	width: 800px;
	height: 350px;
	padding: 40px 80px;
}
.div2 p{
	font-size: 14px;
	font-family: "华文仿宋";
	color: #000000;
}
#first{
	margin-left: 280px;
	margin-right: 280px;
}
.div2 h2{
	font-family: "华文行楷";
	font-size: 24px;
	color: #555555;
	margin-left: 200px;
	margin-right: 200px;
}
.text p{
	font-size: 8px;
	font-family: "华文仿宋";
	color: #000000;
}
section,.img,.text{
	float: left;	
}
.div2 .img{
	width: 50px;
	height: 120px;
	padding-top: 30px;
	margin-right: 5px;
}
.div2 .text{
	width: 280px;
	height: 120px;
	
}
.left1,.left2{
	width: 340px;
}
.div2 ,.bottom{
	margin-top: 0;
}

/*第三块布局 图文样式*/
.div3{
	width: 800px;
	height: 400px;
	background: url(../img/林间.jpg);
	background-size: 80%;
}
.left31{
	width: 250px;
	height: 300px;
	float: left;
	margin-left: 155px;
	margin-right: 70px;
}
.left31 h2{
	width: 200px;
	font-family: "华文行楷";
	font-size: 30px;
	font-weight: 200;
	color: #FFFFFF;
}
.left31 p{
	width: 200px;
	font-family: "华文仿宋";
	font-size: 12px;
	margin-bottom: 40px;
}
#31 input{
	width: 120px;
	height: 30px;
	border: 1px solid #BBBBBB;
}
#31 [value="搜索"]{
	width: 120px;
	height: 34px;
}
.right31{
	width: 390px;
	height: 300px;
	margin: 50px 0;
	border: 1px solid #BBBBBB;
	border-radius: 5%;
    position: absolute;
    right: -50px;
    overflow: hidden;
}
.quan{
	float: left;
	color: #FFFFFF;
    width: 20px;
    margin-top: 145px;
    margin-left: 10px;
}
.ad{
	float: left;
	width: 310px;
	height: 270px;
	margin: 15px 0;
	background-color: #FFFFFF;
	text-align: center;
}
.ad h3{
	font-family: "华文行楷";
	font-size: 22px;
	font-weight: 200;
	color: #000000;
}
.ad p{
	font-family: "华文行楷";
	font-size: 12px;
	font-weight: 100;
	color: #000000;
}
.ad_text{
	display: flex;
	justify-content: space-around;
	padding-left: 30px;
}
.ad1,.ad2,.ad3{
	width: 90px;
	border: 1px solid #BBBBBB;
	box-shadow: 2px #BBBBBB;
	margin: 13px;
}
.ad_text h4{
	font-family: "华文仿宋";
	font-size: 8px;
	color: #FFFFFF;
}
.ad_text p{
	font-family: "华文仿宋";
	font-size: 1px;
	color: #FFFFFF;
}
.ad1 .ad_bottom{
	height: 55px;
	background-color: #B28EE9;
}
.ad2 .ad_bottom{
	height: 55px;
	background-color: #7DD8B3;
}
.ad2 img{
	width: 55px;
	height: 55px;
	margin-top: 5px;
	padding-bottom: 4px;
}
.ad3 .ad_bottom{
	height: 55px;
	background-color: #9DC3FC;
}
.ad3 img{
	width: 55px;
	height: 55px;
	margin-top: 5px;
	padding-bottom: 4px;
}


/*第四块布局*/
.div4{
	width: 800px;
	height: 300px;
	padding: 0 160px;
	text-align: center;
}
.div4 h2{
	width: 480px;
	font-family: "华文仿宋";
	font-size: 30px;
	margin-top: 50px;
}
.div4 section{
	width: 480px;
	display: flex;
	justify-content: space-around;
}
.div4 article{
	float: left;
	width: 130px;
	height: 150px;
}
.div4 h3{
	font-family: "bradley hand itc";
	font-size: 26px;
	color: #000000;
}
.div4 p{
	font-family: "华文仿宋";
	font-size: 12px;
	color: #999999;
}


/*第五块布局*/
.div5{
	width: 490px;
	height: 390px;
	border-bottom: 1px solid #BBBBBB;
	border-top: 1px solid #BBBBBB;
	padding: 55px 155px;
}
.div5_top,.div5_bottom{
	width: 490px;
	height: 185px;
	display: flex;
	justify-content: space-between;
}
.div5_top{
	margin-bottom: 40px;
}
.div5_img{
	width: 285px;
	height: 175px;
}
.shi{
	width: 155px;
	height: 175px;
}
.div5 h2{
	font-family: "方正舒体";
	font-size: 20px;
}
.div5 p{
	font-family: "华文仿宋";
	font-size: 10px;
	color: #555555;
}


/*第六块布局*/
.div6{
	width: 490px;
	height: 450px;
	padding: 50px 155px;
	text-align: center;
	position: absolute;
}
.div6_top{
	width: 490px;
	height: 95px;
}
.div6_bottom{
	width: 490px;
	height: 355px;
	display: flex;
	align-items: space-between;
}
.div6_top h2{
	font-family: Mistral;
	font-size: 22px;
}
.div6_top p{
	font-family: Gulim;
	font-size: 10px;
	color: #555555;
}
.div6 img{
	width: 235px;
	height: 170px;
}
#Whitman_cover{
    width: 235px;
    height: 170px;
    position: absolute;
    left: 160px;
    background-color: #555555;
    text-align: center;
    opacity: 0.1;
}
#Whitman_cover h3{
	font-family: "Lucida Handwriting";
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 50px;
}
#Whitman_cover p{
	font-family: "maiandra gd";
	font-size: 8px;
	color: #999999;
	bottom: 30px;
}
.cover_img{
	width: 170px;
	display: flex;
	justify-content: space-around;
	margin: 20px 30px;
}
.cover{
	border: 1px solid #BBBBBB;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cover img{
	width: 12px;
	height: 12px;
	color: #FFFFFF;
}
#Whitman_cover:hover{
	opacity: 0.7;
	cursor: pointer;
}


/*第七块布局*/
.div7{
	width: 480px;
	height: 280px;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	position: absolute;
	padding: 35px 160px;
	top: 550px;
	left: 0;
}
.div7_left{
	width: 235px;
	height: 280px;
	float: left;
	border: 1px solid #BBBBBB;
	text-align: center;
}
.div7_right{
	width: 160px;
	height: 200px;
	float: left;
	margin-left: 80px;
	text-align: left;
	padding: 40px 0;
}
.div7_left h2{
	font-family: "Centaur";
	font-size: 20px;
	color: #000000;
}
.div7_left input{
	width: 183px;
	height: 23px;
	border: 1px solid #BBBBBB;
	margin-bottom: 15px;
	font-family: Courier New;
	font-size: 12px;
}
.div7_left [placeholder="Message"]{
	width: 185px;
	height: 70px;
	margin-bottom: 15px;
}
.div7_left [type="submit"]{
	width: 185px;
	height: 25px;
	background-color: #000000;
	color: #ffffff;
	margin-bottom: 32px;
}
.right_top h1{
	font-family: "Arial Baltic";
	font-size: 24px;
	color: #000000;
}
.right_top p{
	font-family: "Arial Baltic";
	font-size: 10px;
	color: #bbbbbb;
	margin-bottom: 20px;
}
.info{
	width: 150px;
	height: 30px;
	justify-content: space-between;
}
.info img{
	width: 15px;
	height: 15px;
	float: left;
}
.info p{
	font-family: "Cambria";
	font-size: 4px;
	color: #000000;
	float: left;
	margin-left: 10px;
}


/*最后一块布局*/
.div8{
	width: 600px;
	height: 110px;
	background: #000000;
	position: absolute;
	top: 900px;
	left: 0;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
}
.div8_1,.div8_2,.div8_3{
	width: 100px;
	height: 80px;
	text-align: left;
}
.div8_4{
	width: 200px;
	height: 50px;
	text-align: left
}
.div8 h4{
	font-family: "eras light itc";
	font-size: 8px;
	color: #ffffff;
}
.div8 p{
	margin: 0;
}
.div8 a{
	font-family: "eras light itc";
	font-size: 8px;
	color: #bbbbbb;
	text-decoration: none;
}
.div8 a:hover{
	color: #ffffff;
}
.div8_img{
	margin-top: 10px;
}
.div8_img img{
	width: 8px;
	height: 8px;
	float: left;
	margin: 5px;
}
.div8_4 p{
	font-family: "eras light itc";
	font-size: 8px;
}
